/*
################################################################
################################################################
##################          Variables        ###################
################################################################
################################################################
*/
:root {
  /* 
################################################################
##################         COLORS Variables    #################
################################################################
  */
  --blue: #6a7b8b;
  --light: #f5f5f5;

  --gray: #bac1c8;
  --dark: #5c5b5b;
  --darker: #24252d;

  /*
################################################################
##################    Media Query Variables    #################
################################################################

*/
  --viewport-s: (min-width: 480px);
  --viewport-m: (min-width: 768px);
  --viewport-l: (min-width: 1024px);
  --viewport-xl: (min-width: 1280px);

  /*
################################################################
################################################################
##################        End  Variables       #################
################################################################
################################################################
  */
}
/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */
/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  ...;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  ...;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  ...;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  ...;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
} */
/*
################################################################
################################################################
##################       General            ####################
################################################################
################################################################
*/
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  vertical-align: baseline;
  background: var(--light);
  line-height: 1.75;
  font-size: 1em;
  touch-action: pan-y;
  text-align: center;
  overflow-x: hidden;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--dark);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
}

/*
################################################################
################################################################
##################       Utils Classes      ####################
################################################################
################################################################
*/
.container_fluid {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.displayNone {
  display: none;
  visibility: hidden;
}
.displayinline {
  display: inline !important;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    width: 100%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    width: 100%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/*
################################################################
################################################################
##################          NavBar          ####################
################################################################
################################################################
*/
nav {
  background: var(--blue);
  position: relative;
}
#navbar {
  margin: 0;
  padding: 0;
  outline: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.navBar_item {
  display: block;
  text-decoration: none;
  color: var(--light);

  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 20px;
  overflow: hidden;
}
.navBar_item:hover {
  color: var(--darker);
}

.logo_container {
  height: 30px;
}
.logo {
  margin-right: auto;
}
.navBar_item_logo {
  padding: 12px 0 2px !important;
}
.navBar_logo_img {
  max-height: 45px;
}
.nav_humburger_icon {
  display: none;
}
.rotate45 {
  transform: rotate(45deg);
}
.rotate45right {
  transform: rotate(-45deg);
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #navbar {
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
  }
  #navbar li:nth-child(n + 2) {
    display: none;
  }
  .logo {
    padding-left: 15px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .nav_humburger_icon {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    z-index: 10;
    cursor: pointer;
  }

  .nav_humburger_icon span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #navbar li:nth-child(n + 2) {
    display: none;
  }
  #navbar {
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
  }
  .logo {
    padding-left: 15px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/*
################################################################
################################################################
##################       Group same style   ####################
################################################################
################################################################
*/

/*
################################################################
################################################################
##################          Header          ####################
################################################################
################################################################
*/

header {
  position: relative;
  width: 100%;
}
header h1 {
  color: var(--light);
  letter-spacing: 2px;
  text-shadow: 0 0 10px #131313;
  font-weight: 1000;
}
.header_logo_wrapper {
  width: 100%;
}
.header_logo_wrapper img {
  width: 200px;
  /* Images default to being inline, inline items cannot have a width, so change to block: */
  display: block;
  margin: 10px auto;
}
/* .header_title_container {
  margin-top: 100px;
} */
.header_container {
  padding-top: 50px;
  height: 800px;
  background: url('../Assets/mr_coffee_salle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header h1 {
    font-weight: 700;
    letter-spacing: 1px;
  }
  .header_container {
    height: 100px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .header_container {
    height: 300px;
  }
}

/*
################################################################
################################################################
##################          WeLike          ####################
################################################################
################################################################
*/
.section_weLike {
  position: relative;
}
.section_weLike h2 {
  margin: 70px 0;
  padding: 0;
  font-size: 1.7rem;
  color: var(--dark);
  letter-spacing: 2px;
  font-weight: 1000;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .cards_container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .cards_container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  .cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
  }
}

.card {
  /* width: */
  background: var(--gray);
  border-radius: 10px;
  padding-top: 30px;
  margin-bottom: 100px;
}

.card_img_1 {
  background: url('../Assets/icon_café.png') no-repeat;
}
.card_img_2 {
  background: url('../Assets/icon_gens.png') no-repeat;
}
.card_img_3 {
  background: url('../Assets/icon_histoires.png') no-repeat;
}
.card_img {
  height: 100px;
  box-sizing: border-box;
  background-size: contain;
  background-position: center center;
}
.card_title {
  margin: 20px auto 30px;

  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light);
  text-shadow: 0 0 2px #212121;
}
.card_body {
  color: var(--light);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5px 20px 20px;
  text-shadow: 0 0 2px #212121;
  /* text-align: center;
  display: inline-block; */
}

.findOut_button span {
  padding: 20px 70px;
  color: var(--light);
  background: var(--blue);
  font-size: 1.4rem;
  border-radius: 7px;
}

/*
################################################################
################################################################
##################          Find out        ####################
################################################################
################################################################
*/
.section_findOut {
  padding: 100px 0 300px;
}
.section_findOut h2 {
  margin-bottom: 50px;
  padding: 0;
  font-size: 2.4rem;
  color: var(--dark);
  letter-spacing: 0.3rem;
  font-weight: 1000;
}
.program_cards {
  display: grid;
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-columns: 1fr 1fr;

  grid-gap: 10%;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .program_cards {
    grid-gap: 10%;
    grid-template-columns: 1fr;
    padding-bottom: 300px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .program_cards {
    grid-gap: 10%;
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) {
  .program_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
  }
}

.p_card {
  padding: 10px;
  background: var(--light);
  color: var(--dark);
  box-shadow: 2px 2px 5px 0px var(--dark-rgba);
}
.p_card1 {
  border-radius: 10px 70px 10px 10px;
}
.p_card2 {
  border-radius: 70px 10px 10px 10px;
}
.p_card3 {
  border-radius: 10px 70px 10px 10px;
}
.p_card4 {
  border-radius: 70px 10px 10px 10px;
}
.p_card5 {
  border-radius: 70px;
}
.open7days_icon {
  width: 100px;
  height: 100px;
  margin-left: -50px;
  display: inline-block;
  background: url('../Assets/icon_open.png');
  box-sizing: border-box;
  background-size: contain;
  background-position: center center;
}
.program_cards h4 {
  font-size: 1.6rem;
  font-weight: bolder;
}
.program_cards p {
  font-size: 1.4rem;
  font-weight: bold;
}

.p_card_title a {
  color: var(--blue);
}
/*
################################################################
################################################################
##################          Footer          ####################
################################################################
################################################################
*/

footer {
  padding: 20px 0;
  background: var(--blue);
}
.footer_social_icons {
  position: relative;
}
footer h4 {
  /* margin: 0; */
  color: var(--light);
}
.footer_logo_container {
  position: absolute;
  left: 100px;
  bottom: 30px;
}

.footer_logo {
  background: url('../Assets/full_logo_white.png');
  width: 200px;
  height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer_icon_facebook {
  background: url('../Assets/logo_facebook.png');
}
.footer_icon_twitter {
  background: url('../Assets/logo_twitter.png');
}
.footer_icon_linkedin {
  background: url('../Assets/logo_linkedin.png');
}

.footer_social_icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  /* background: #fff; */
  margin: 10px 20px;
  background-size: contain;
}
@media (max-width: 575.98px) {
  .footer_logo_container {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .footer_logo_container {
    display: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .footer_logo_container {
    left: 10px;
  }
}
